*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/launcher/release
/ontvapp/release
/ontvapp/embedded
/ontvapp/standalone
/update-applications/release

